/*顶部样式*/
.header{height:88px;background:#000;padding:22px 32px;}
.header .hname{font-size:32px;color:#fff;padding:24px 24px 32px;}
.header .uinfo{font-size:16px;color:#999;}
/**/
.index{height:100%;}
.right{width:156px; float:right; background-color:#960;margin-top:20px;}
.left{width:100px;padding-top:100px;z-index:-1; float:left; background:#999;height:100%;overflow: auto;position:fixed;top:0;left:0;}
.main{margin-left:120px;margin-top:20px;margin-right:176px; background-color:#9F3}
.left .li{height:110px;padding-top:16px;text-align:center;padding-bottom:26px;color:#444;font-size:16px;}
.left .li:hover{color:#eee;}